

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.dataTableImg {
	width : 100px;
	height : 100px;
}

.top_footer_mr {
	margin-top : 20px;
}

.breadcrumb{
	margin-left : 20px;
}
.bottom_navbar_mr {
	margin-bottom : 20px;
}